﻿@model List<Settings.Entity.Product>

@{
    ViewBag.Title = "Product List";
    Layout = "_Layout";
}
<div class="mt-4">
    <div class="mb-1 text-right">
        <a asp-area="Setup" asp-controller="Product" asp-action="New" class="btn btn-sm btn-primary"><li class="fa fa-plus"></li> New</a>
    </div>
    <div class="card">
        <div class="card-header bg-primary">
            <div class="card-title text-white mb-0">Product Setup List</div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Module Name</th>
                <th>Action</th>
                </thead>
                <tbody>
                @{
                    var sn = 1;
                    foreach (var product in Model)
                    {
                        <tr>
                            <td>@(sn++)</td>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td class="text-center">
                                <a asp-area="Setup" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-success btn-sm"><li class="fa fa-edit"></li>&nbsp;Edit</a>
                                <a asp-area="Setup" asp-controller="Module" asp-action="AddModule" asp-route-id="@product.Id" class="btn btn-success btn-sm"><i class="fas fa-sitemap"></i>&nbsp;Module</a>
                                <a asp-area="Setup" asp-controller="Product" asp-action="Remove" asp-route-id="@product.Id" class="btn btn-danger btn-sm"><li class="fa fa-trash"></li>&nbsp;Remove</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>