﻿@model AccessTeamWeb.Areas.Setup.ViewModel.ProductVm

@{
    ViewBag.Title = "Product Setup";
    Layout = "_Layout";
}

<div class="card mt-5 mx-auto col-6">
    <div class="card-header bg-primary">
        <div class="card-title text-white">Product Setup</div>
    </div>
    <form asp-area="Setup" asp-controller="Product" asp-action="New" method="post">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control form-control-sm" required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control form-control-sm" asp-for="Description" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary btn-sm mt-1" value="save">
        </div>
    </form>
</div>