﻿@model AccessTeamWeb.Areas.Setup.ViewModel.SurveyVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="card col-6 mt-5 mx-auto">
    <div class="card-header bg-primary">
        <div class="card-title mb-0 text-white"><li class="fa fa-plus"></li> Add New Survey</div>
    </div>
    <form asp-area="Setup" asp-controller="Survey" asp-action="Edit" method="post">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input type="text" asp-for="Title" class="form-control form-control-sm" required>
                <span asp-validation-for="Title" class="text-danger text-danger-sm"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control form-control-sm" asp-for="Description" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger text-danger-sm"></span>
            </div>
            <button class="btn btn-sm btn-primary mt-2" type="submit" title="Save Survey Info"><li class="fa fa-plus"></li> Save</button>
        </div>
    </form>
</div>