﻿@model System.Collections.Generic.List<Settings.Entity.Survey>

@{
    ViewBag.Title = "Survey setup list";
    Layout = "_Layout";
}

<div class="mt-4">
    <div class="text-right">
        <a asp-area="Setup" asp-controller="Survey" asp-action="New" class="btn btn-sm btn-primary mb-1">
            <li class="fa fa-plus"></li>&nbsp;New
        </a>
    </div>
    <div class="card">
        <div class="card-header bg-primary">
            <div class="card-title text-white mb-0">survey setup list</div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Titile</th>
                    <th>Desctiption</th>
                    <th>RecBy</th>
                    <th>Publish Date</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var sn = 1;
                    foreach (var survey in Model)
                    {
                        <tr>
                            <td>@(sn++)</td>
                            <th>@survey.Title</th>
                            <th>@survey.Description</th>
                            <th>@survey.User.DisplayName</th>
                            <th>@survey.PublishDate</th>
                            <th>@survey.DueDate</th>
                            @if (survey.IsPublish)
                            {
                                <th class="text-center text-secondary">Published</th>
                            }
                            <th></th>
                            <th>
                                <a asp-area="Setup" asp-controller="Survey" asp-action="Edit" asp-route-id="@survey.Id" class="btn btn-sm btn-success">
                                    <li class="fa fa-pencil"></li> Edit
                                </a>
                                @if (!survey.IsPublish)
                                {
                                    <a asp-area="Setup" asp-controller="Survey" asp-action="Publish" asp-route-id="@survey.Id" class="btn btn-sm btn-info">
                                        <i class="fas fa-upload"></i> Publish
                                    </a>
                                }
                                else
                                {
                                    <a asp-area="Setup" asp-controller="Survey" asp-action="Pause" asp-route-id="@survey.Id" class="btn btn-sm btn-warning">
                                        <i class="fas fa-pause"></i> Pause
                                    </a>
                                }
                                <a asp-area="Setup" asp-controller="Survey" asp-action="Remove" asp-route-id="@survey.Id" class="btn btn-sm btn-danger">
                                    <li class="fa fa-trash"></li> Remove
                                </a>
                            </th>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>