﻿@model AccessTeamWeb.Controllers.ViewModel.LoginVm

@{
    ViewBag.Title = "Login User";
    Layout = "_Layout";
}

<main>

    <form asp-action="Index" asp-controller="Login" method="post">
        <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background-lg="../../assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Sign in to our platform</h1>
                            </div>
                            <form asp-controller="Login" asp-action="Index" class="mt-4">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label asp-for="Email">Your Email</label>
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="example@company.com" asp-for="Email" autofocus required>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label asp-for="Password">Your Password</label>
                                        <div class="input-group">
                                            <input type="password" placeholder="Password" class="form-control" asp-for="Password" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-top mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="remember">
                                            <label class="form-check-label mb-0" for="remember">
                                                Remember me
                                            </label>
                                        </div>
                                        <div>
                                            @* <a href="./forgot-password.html" class="small text-right">Lost password?</a> *@
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark">Sign in</button>
                                </div>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Not registered?
                                    <a asp-action="Registration" asp-controller="Login" class="fw-bold">Create account</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</main>