﻿@model AccessTeamWeb.Controllers.ViewModel.UserVm

@{
    ViewBag.Title = "sign-up";
    Layout = "_Layout";
}

<div class="card card-body shadow-sm mb-4 mt-5">
    <h2 class="h5 mb-4">General information</h2>
    <form asp-action="Registration" asp-controller="Login" method="post">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div>
                    <label asp-for="FirstName"></label>
                    <input class="form-control" type="text" asp-for="FirstName" placeholder="Enter your first name" required="">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div>
                    <label asp-for="LastName"></label>
                    <input class="form-control" asp-for="LastName" type="text" placeholder="Also your last name" required="">
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 mb-3">
                <div>
                    <label asp-for="DisplayName"></label>
                    <input class="form-control" asp-for="DisplayName" type="text" placeholder="Display Name" required="">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Gender">Gender</label>
                <select class="form-select mb-0" asp-for="Gender">
                    <option selected="selected">select</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input class="form-control" asp-for="Address" placeholder="Kathmandu - Nepal" required="">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Phone">Phone</label>
                    <input class="form-control" asp-for="Phone" type="text" placeholder="+12-345 678 910" required="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input class="form-control" asp-for="Email" type="email" placeholder="name@company.com" required="">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" type="password" placeholder="@@#989584958" required="">
                </div>
            </div>
        </div>
        <div class="mt-3">
            <input type="submit" class="btn btn-black" value="Request for Registration">
        </div>
    </form>
</div>