﻿@model AccessTeamWeb.Areas.Team.ViewModel.AddTeamMemberVm

@{
    ViewBag.Title = "Add team";
    Layout = "_Layout";
}
<div class="row mt-5" id="add-member-app">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0" text-info>
                    <span class="fa fa-users"></span> Team Info
                </h5>
            </div>
            <div class="card-body">
                <table class="table table-sm table-hover table-striped mb-0">
                    <thead>
                    <tr>
                        <th>
                            Team
                        </th>
                        <th class="text-right">
                            Description
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@Model.Team.Name</td>
                        <td>@Model.Team.Description</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-info mb-0">
                    <span class="fa fa-user-plus"></span> Add Member
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title text-info mb-0"><span class="fa fa-users"></span> Member's</h5>
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-sm table-hover table-striped mb-0">
                                    <thead>
                                    <tr>
                                        <th>
                                            User
                                        </th>
                                        <th class="text-right">
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="user in SelectableUsers" :key="user.id">
                                        <td>
                                            {{user.name}}
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-primary btn-sm" title="Add Member" type="button" v-on:click.prevent="addMember(user.id)">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title text-info mb-0"><span class="fa fa-plus"></span> Added Member's</h5>
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-sm table-hover table-striped mb-0">
                                    <thead>
                                    <tr>
                                        <th>
                                            User
                                        </th>
                                        <th class="text-right">
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="user in SelectedUsers" :key="user.id">
                                        <td>
                                            {{user.name}}
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-danger btn-sm" title="Remove Member" type="button" v-on:click.prevent="removeMember(user.id)">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <template v-if="SelectedUsers.length > 0">
                                    <button class="btn btn-sm btn-success" title="Save" @@click.prevent="saveMembers" v-if="!isSaving">
                                        <span class="fa fa-check-circle"></span>
                                        Save
                                    </button>
                                    <button class="btn btn-sm btn-success" v-else>
                                        <span class="fa fa-spinner fa-spin"></span> Saving
                                    </button>
                                </template>
                                <template v-else>
                                    <span class="text-muted">
                                        Add some members to continue
                                    </span>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script >
    document.addEventListener('DOMContentLoaded', () => {
        const app = Vue.createApp({
            data() {
                return {
                   users: [
                       @foreach (var user in Model.Users)
                       {
                           <text>
                           {
                               id: '@user.Id',
                               name: '@user.DisplayName',
                               isSelected: false
                           },
                           </text>
                       }
                   ],
                   isSaving: false
                };
            },
            computed: {
                SelectedUsers() {
                    return this.users.filter(x => x.isSelected);
                },
                SelectableUsers() {
                    return this.users.filter(x => !x.isSelected);
                }
            },
            mounted() {
                
            },
            methods: {
                addMember(userId) {
                    const user = this.users.find(x => x.id === userId);
                    user.isSelected = true;
                },
                removeMember(userId) {
                    const userAck = confirm("Remove member?");
                    if (!userAck) return;
                    const user = this.users.find(x => x.id === userId);
                    user.isSelected = false;
                },
                async saveMembers() {
                    if (this.isSaving) return;
                    this.isSaving = true;
                    try {
                        const response = await axios.post("/api/team/member/add", {
                                teamId : @Model.Team.Id,
                                userIds: this.SelectedUsers.map(x => x.id)
                        });
                        alert("Members added");
                        window.location.href= "/Team/TeamMember";
                    }
                    catch (e) {
                        alert(e);
                    }
                    finally {
                      this.isSaving = false;
                    }
                }
            }
        });
        const vm = app.mount("#add-member-app");
    });    
    </script>
}