﻿@model List<Team.Entity.TeamMember>

@{
    ViewBag.Title = "Team Member List";
    Layout = "_Layout";
}

@if (!Model.Any())
{
    <h3 class="mt-6 text-center">No data Found !</h3>
    <div class="text-center">
    </div>
}
else
{
    <div class="card mt-4">
        <div class="card-header bg-primary mt-0">
            <div class="card-title text-white mb-0">Team Member's</div>
        </div>
        <div class="card">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Team</th>
                    <th>User</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var sn = 1;
                    foreach (var member in Model)
                    {
                        <tr>
                            <td>@(sn++)</td>
                            <td>@member.Team.Name</td>
                            <td>@member.User.DisplayName</td>
                            <td>
                                <a asp-area="Team" asp-controller="TeamMember" asp-action="Remove" asp-route-id="@member.Id" class="bn btn-danger btn-sm">
                                    <li class="fa fa-Trash"></li>&nbsp;Remove
                                </a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
}