﻿@model AccessTeamWeb.Areas.Setup.ViewModel.ExistingModuleVm

@{
    ViewBag.Title = "Add Product";
    Layout = "_Layout";
}

<div id="module-app" class="mt-5">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header bg-success">
                            <h6 class="card-title mb-0">
                                <span class="fa fa-plus"></span> Add
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control form-control-sm" v-model="module.name" ref="moduleNameElm" v-on:keyup.enter.prevent="addModule">
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-sm btn-success mt-1 " title="Add Module" v-on:click.prevent="addModule">
                                    <li class="fa fa-plus"></li>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header bg-danger">
                            <h6 class="card-title mb-0">
                                <span class="fa fa-list"></span> Modules
                            </h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th class="text-right">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, idx) in modules" :key="item.id">
                                    <td>{{idx + 1}}</td>
                                    <td>{{item.name}}</td>
                                    <td class="text-right">
                                        <button type="submit" class="btn btn-sm btn-danger" title="Remove Module" v-on:click.prevent="removeModule(item.id)">
                                            <li class="fa fa-trash"></li>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="card-footer">
                                <template v-if="modules.length > 0">
                                    <div class="text-right">
                                        <button class="btn btn-sm btn-success" title="Save" @@click.prevent="SaveModules" v-if="!isSaving">
                                            <span class="fa fa-check-circle"></span>
                                            Save
                                        </button>
                                        <button class="btn btn-sm btn-success" v-else>
                                            <span class="fa fa-spinner fa-spin"></span> Saving
                                        </button>
                                    </div>
                                </template>
                                <template v-else>
                                    <span class="text-muted">
                                        Add some Modules to continue
                                    </span>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-primary">
                    <h6 class="card-title mb-0 text-white" text-info>
                        <i class="far fa-question-circle"></i>&nbsp;Existing Module of <span class="badge bg-success">@Model.Product.Name</span>
                    </h6>
                </div>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Modules</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var sn = 1;
                        foreach (var module in Model.Modules)
                        {
                            <tr>
                                <td>@(sn++)</td>
                                <th>@module.Name</th>
                                <th class="text-right">
                                    <a asp-area="Setup" asp-controller="Module" asp-action="Remove" asp-route-id="@module.Id" class="btn btn-sm btn-danger"> remove
                                    </a>
                                </th>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
    document.addEventListener('DOMContentLoaded',()=>{
       const app = Vue.createApp({
       
            data(){
                return{
                    modules : [],
                     isSaving: false,
                    module : {
                        name : ''
                    } 
                }
            },
            computed : {
                
            },
            mounted() {
                
            },
            methods : {
                addModule() {
                    if (this.module.name == "") return;
                    this.modules.push({
                       name: this.module.name,
                        id: Symbol()
                    });
                    this.module.name = "";
                    this.$refs['moduleNameElm'].focus();
                },
                removeModule(id) {
                    const userAsk = confirm("Are you Sure ?");
                    if (!userAsk)return;
                    this.modules = this.modules.filter(x => x.id != id);
                },
                async SaveModules() {
                    if (this.isSaving) return;
                    this.isSaving = true;
                    try {
                      const response = await axios.post("/API/Setup/Module/Add",{
                          productId : @Model.Product.Id,
                          modules : this.modules.map(x=>x.name)
                      });
                      alert("all Product Modules Added");
                      location.reload();
                    }catch (e){
                        alert(e.response.data.message);
                }finally {
                  this.isSaving = false;
                } 
               
            }
            },
       }); 
       const vm = app.mount("#module-app");
    });
    </script>
}