﻿@model List<Team.Entity.Team>

@{
    ViewBag.Title = "Team Setup List";
    Layout = "_Layout";
}

<div class="mt-4 col-6 mx-auto">
    <div class="text-right">
        <a asp-area="Team" asp-controller="Team" asp-action="New" class="btn btn-sm btn-primary mb-1"><li class="fa fa-plus"></li> New</a>
    </div>
    <div class="card">
        <div class="card-header bg-primary">
            <div class="card-title text-white mb-0">Team Setup</div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var sn = 1;
                    foreach (var team in Model)
                    {
                        <tr>
                            <td>@(sn++)</td>
                            <td>@team.Name</td>
                            <td>@team.Description</td>
                            <td>
                                <a asp-area="Team" asp-controller="Team" asp-action="Edit" asp-route-id="@team.Id" class="btn btn-success btn-sm"><li class="fa fa-pencil"></li>&nbsp;Edit</a>
                                <a asp-area="Team" asp-controller="TeamMember" asp-action="AddMember" asp-route-id="@team.Id" class="btn btn-success btn-sm">
                                    <li class="fa fa-users"></li> Add
                                </a>
                                <a asp-area="Team" asp-controller="Team" asp-action="Remove" asp-route-id="@team.Id" class="btn btn-danger btn-sm"><li class="fa fa-trash"></li>&nbsp;Remove</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>