﻿@model AccessTeamWeb.Areas.Team.ViewModel.TeamVm

@{
    ViewBag.Title = "Add New Team";
    Layout = "_Layout";
}

<div class="card mx-auto mt-5 col-5">
    <div class="card-header bg-primary">
        <div class="card-title text-white">Team Setup</div>
    </div>
    <form asp-area="Team" asp-controller="Team" asp-action="New" method="post">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control form-control-sm">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input type="text" asp-for="Description" class="form-control form-control-sm">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary btn-sm mt-2" value="save">
        </div>
    </form>
</div>