﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AccessTeam</title>

    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <!-- Fontawesome -->
    <link type="text/css" href="~~/vendor/@@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Volt CSS -->
    <link type="text/css" href="~/css/volt.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
<partial name="_Sidebar"/>
<main class="content">
    @RenderBody()
</main>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://kit.fontawesome.com/7d0b4bd6f6.js"></script>

<!-- Core -->
<script src="~/vendor/@@popperjs/core/dist/umd/popper.min.js"></script>
<script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="~/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="~/vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Smooth scroll -->
<script src="~/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<script src="~/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="~/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>


<!-- Simplebar -->
<script src="~/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="~/assets/js/volt.js"></script>
@await Component.InvokeAsync("NToastNotify")
@await RenderSectionAsync("Scripts", false)

</body>

</html>