﻿<li class="nav-item">
    <span
        class="nav-link  collapsed  d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse" data-bs-target="#submenu-app">
        <span>
            <span class="sidebar-icon">
                <span class="fas fa-cog"></span>
            </span>
            <span class="sidebar-text">Setting</span>
        </span>
        <span class="link-arrow">
            <span class="fas fa-chevron-right"></span>
        </span>
    </span>
    <div class="multi-level collapse "
         role="list" id="submenu-app" aria-expanded="false">
        <ul class="flex-column nav">
            <li class="nav-item ">
                <a class="nav-link" asp-area="Setup" asp-controller="Product" asp-action="Index">
                    <span class="sidebar-text"><i class="fas fa-tools"></i>&nbsp;Product</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-area="Setup" asp-controller="Survey" asp-action="Index">
                    <span class="sidebar-text"><i class="fas fa-poll"></i>&nbsp;Survey</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-area="Setup" asp-controller="TaskSetup" asp-action="Index">
                    <span class="sidebar-text"><i class="fas fa-tasks"></i>&nbsp;Task</span>
                </a>
            </li>

        </ul>
    </div>
</li>