﻿<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none">
    <a class="navbar-brand me-lg-5" asp-action="Index" asp-controller="Home">
        <img class="navbar-brand-dark" src="~/assets/img/brand/light.svg" alt="Volt logo"/>
        <img class="navbar-brand-light" src="~/assets/img/brand/dark.svg" alt="Volt logo"/>
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar>

    <ul class="nav flex-column pt-3 pt-md-0 mt-2">
        <li class="nav-item">
            <a asp-area="" asp-action="Index" asp-controller="Home" class="nav-link d-flex align-items-center">
                <span class="sidebar-icon">
                    <img src="~/assets/img/brand/light.svg" height="20" width="20" alt="Volt Logo">
                </span>
                <span class="mt-1 ms-1 sidebar-text">Biraj Maianli</span>
            </a>
        </li>
        <li class="nav-item  active ">
            <a asp-area="" asp-action="Index" asp-controller="Home" class="nav-link">
                <span class="sidebar-icon">
                    <span class="fas fa-chart-pie"></span>
                </span>
                <span class="sidebar-text">Dashboard</span>
            </a>
        </li>
        <partial name="_Settings"/>
        <partial name="_Team"/>
        <partial name="_UserManagement"/>
    </ul>
</nav>