﻿<li class="nav-item">
    <span
        class="nav-link  collapsed  d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse" data-bs-target="#team-app">
        <span>
            <span class="sidebar-icon">
                <span class="fas fa-users"></span>
            </span>
            <span class="sidebar-text">Team</span>
        </span>
        <span class="link-arrow">
            <span class="fas fa-chevron-right"></span>
        </span>
    </span>
    <div class="multi-level collapse "
         role="list" id="team-app" aria-expanded="false">
        <ul class="flex-column nav">
            <li class="nav-item ">
                <a class="nav-link" asp-area="Team" asp-controller="Team" asp-action="Index">
                    <span class="sidebar-text"><i class="fas fa-user-friends"></i>&nbsp;Team</span>
                </a>
                <a class="nav-link" asp-area="Team" asp-controller="TeamMember" asp-action="Index">
                    <span class="sidebar-text"><i class="fas fa-user-friends"></i>&nbsp;Members</span>
                </a>
            </li>
        </ul>
    </div>
</li>