﻿<li class="nav-item">
    <span
        class="nav-link  collapsed  d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse" data-bs-target="#UserManagement">
        <span>
            <span class="sidebar-icon">
                <span class="fas fa-user"></span>
            </span>
            <span class="sidebar-text">User Management</span>
        </span>
        <span class="link-arrow">
            <span class="fas fa-chevron-right"></span>
        </span>
    </span>
    <div class="multi-level collapse "
         role="list" id="UserManagement" aria-expanded="false">
        <ul class="flex-column nav">
            <li class="nav-item ">
                <a class="nav-link" asp-area="User" asp-controller="User" asp-action="Index">
                    <span class="sidebar-text"><i class="fas fa-check-circle"></i>&nbsp;Users</span>
                </a>
            </li>
        </ul>
    </div>
</li>