﻿@model List<User.Entity.User>

@{
    ViewBag.Title = "User List";
    Layout = "_Layout";
}

<div class="card border-light shadow-sm mb-4 mt-3">
    <div class="card-header bg-primary">
        <div class="card-title text-white">All User From database</div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                <tr>
                    <th class="border-0">#</th>
                    <th class="border-0">First Name</th>
                    <th class="border-0">Last Name</th>
                    <th class="border-0">Email</th>
                    <th class="border-0">Address</th>
                    <th class="border-0">Phone</th>
                    <th class="border-0">Action</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var sn = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@(sn++)</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.Address</td>
                            <td>@item.Phone</td>
                            <td>
                                @if (!item.IsApprove)
                                {
                                    <a asp-area="User" asp-controller="User" asp-action="Approve" asp-route-id="@item.Id" class="btn btn-success btn-sm">
                                        <i class="fas fa-thumbs-up"></i>&nbsp;Approve
                                    </a>
                                }
                                <a asp-area="User" asp-controller="User" asp-route-id="@item.Id" asp-action="Remove" class="btn btn-danger btn-sm" style="text-align: left">
                                    <i class="fas fa-trash"></i>&nbsp;Remove
                                </a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>