﻿@model AccessTeamWeb.Areas.Setup.ViewModel.TaskSetupVm

@{
    ViewBag.Title = "Edit";
    Layout = "_Layout";
}

<div class="card mt-5 col-10 mx-auto">
    <div class="card-header bg-primary">
        <div class="card-title mb-0 text-white">
            Edit @Model.Type
        </div>
    </div>
    <form asp-area="Setup" asp-controller="TaskSetup" asp-action="Edit" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <input type="text" asp-for="Type" class="form-control form-control-sm">
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="ModuleId"></label>
                        <select asp-for="ModuleId" asp-items="Model.SelectModule()" class="form-control form-control-sm">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="ModuleId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Point"></label>
                        <input type="number" min="0" max="100" asp-for="Point" class="form-control form-control-sm">
                        <span asp-validation-for="Point" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input type="text" asp-for="Description" class="form-control form-control-sm">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <li class="fa fa-plus"></li>&nbsp; save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>