﻿@model System.Collections.Generic.List<Settings.Entity.TaskSetup>

@{
    ViewBag.Title = "Task Setup List";
    Layout = "_Layout";
}

<div class="mt-5">
    <div class="mb-2 text-right">
        <a asp-area="Setup" asp-controller="TaskSetup" asp-action="New" class="btn btn-sm btn-primary">
            <li class="fa fa-plus"></li>&nbsp; Add
        </a>
    </div>
    <div class="card">
        <div class="card-header bg-primary">
            <div class="card-title text-white mb-0">Task Setup List</div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Success Point</th>
                    <th>Product</th>
                    <th>Module</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var sn = 1;
                    foreach (var setup in Model)
                    {
                        <tr>
                            <td>@(sn++)</td>
                            <th>@setup.Type</th>
                            <th>@setup.Description</th>
                            <th>@setup.SuccessPoint</th>
                            <th>@setup.Module.Product.Name</th>
                            <th>@setup.Module.Name</th>
                            <th>
                                <a asp-area="Setup" asp-controller="TaskSetup" asp-action="Edit" asp-route-id="@setup.Id" class="btn btn-sm btn-success">
                                    <li class="fa fa-pencil"></li>&nbsp; Edit
                                </a>

                                <a asp-area="Setup" asp-controller="TaskSetup" asp-action="Remove" asp-route-id="@setup.Id" class="btn btn-sm btn-danger">
                                    <li class="fa fa-trash"></li>&nbsp; Remove
                                </a>

                            </th>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>